[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pillow = "*"
django-imagekit = "*"
psycopg2 = "*"
dj-database-url = "*"
python-decouple = "*"

[dev-packages]
flake8 = "*"
flake8-bugbear = "*"
pep8-naming = "*"

[requires]
python_version = "3.12"
